.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width:23%;
    padding:1%;
}
nav {
    width:70%;
    padding:1%;
  
}
ul {
    padding-inline-start: 0;
    text-align: right;
    padding-right: 0px;
}

li {
    padding-right:0px;
}

.flex-container {
    display: flex;
    margin-top: 50px;
    margin-left: 125px;
    color: #8B8B8B;
    justify-content: space-evenly;
  }

.bg {
    background-image: url("../Images/Group-1.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 800px;
    height: 818px;
}
.font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-transform: uppercase;
}
.navItem {
    font-weight: 900;
    font-style: italic;
    color: #8B8B8B;
}
.fuck {
    width: 800px;
    padding-top: 25px;
}
a {
    text-decoration: none;
    color: #8B8B8B;
    padding-inline-start: 10px;
}
.place-holder {
    padding-left: 285px;
    color: #8B8B8B;
    text-transform: lowercase;
}

p {
    color:#8B8B8B;
    text-align: left;
}

h1 {
    color: #8B8B8B;
    font-size: 20px;
    font-weight: normal;
    padding-left: 285px;
   
}

h2 {
    color: #8B8B8B;
    font-size: 20px;
    font-weight: 600;
   
}

.fa {
    padding: 0px;
    font-size: 30px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    
  }

 .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 285px;
    max-width: 800px;


}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    font-size: 28px;
    text-align: center;
}

.portfolio-text {
    color: #8B8B8B;
    text-transform: lowercase;
    font-size: 20px;
}
.grid-item1 {
    background-color: #C1EBED;
    padding: 25px;

}
.grid-item2 {
    background-color: #C1EBED;
    padding-bottom: 25px;
    padding-right: 100px;

    }

.grid-item3 {
    background-color: #EED4E0;
    padding: 25px;
}

.grid-item4 {
     background-color: #EED4E0;
     padding-bottom: 25px;
     padding-right: 100px;
}
.grid-item5 {
    background-color: #CDEED7;
    padding: 25px;
}
.grid-item6 {
    background-color: #CDEED7;
    padding-bottom: 25px;
    padding-right: 100px;
}

.white-space {
    background-color: white;
    padding: 20px;
}

button {
    background-color: #8B8B8B;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fa:hover {
      opacity: 0.7;}

.social {
    text-align: center;
}
.randi {
    padding-right: 150px;
}

.line-space {
    margin: 5px 0px;
    text-align: center;
}
@media only screen and (max width; 600) {}